<section class="basic-grid">
    <div class="card">
        <div class="card-title">Country Name</div>
        <div class="card-content">Taiwan</div>
    </div>
    <div class="card">
        <div class="card-title">Confirmed Cases</div>
        <div class="card-content">
            <p>15890<br/>
            <label style="font-size: 18px;">(+11)</label></p>
        </div>
    </div>
    <div class="card">
        <div class="card-title">Country Name</div>
        <div class="card-content">Taiwan</div>
    </div>
    <div class="card">
        <div class="card-title">Country Name</div>
        <div class="card-content">Taiwan</div>
    </div>
</section>