<div class="panel">
    <div>
        <input type="radio" id="r1" name="rr" />
        <label for="r1"><span></span>Confirmed</label>
        <input type="radio" id="r2" name="rr" />
        <label for="r2"><span></span>Deaths</label>
        <input type="radio" id="r3" name="rr" />
        <label for="r3"><span></span>Recovered</label>
    </div>
    <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    <button class="btn">&raquo;</button>
</div>